* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

.item {
  display: flex;
  justify-content: center;
}

.item-box {
  width: 300px;
  padding: 10px;
  background-color: #eeeeee;
  position: relative;
  margin: 50px 30px 50px 0;
}
.item-no {
  background-color: #ff9a4b;
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
}

.item-box:nth-last-child {
  margin-right: 0px;
}

.item-visual1 {
  height: 150px;
  width: 280px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}
.item-visual2 {
  height: 150px;
  width: 280px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}
.item-visual3 {
  height: 150px;
  width: 280px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.item-title {
  padding-top: 15px;
}
p {
  padding-top: 5px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  .item {
    padding-bottom: 50px 0;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    width: 100%;
  }
  .item-box {
    width: 90%;
    margin: 0;
    margin-bottom: 20px;
  }
  .item-box:last-child {
    margin-bottom: 0px;
  }

  .item-visual1,
  .item-visual2,
  .item-visual3 {
    width: auto;
    height: 150px;
    background-size: cover;
    background-position: bottom;
  }
}
